body {
    background: #FFF
    color: #000
    font-family: Arial, sans-serif;
    font-size: 14px;
}

#container {
    background: #FFF;
    margin: auto auto;
    text-align: center;
    width: 95%;
    height: 90vh; /* 100vh - 100% от высоты viewport(окна браузера) */
}

#navigation {
    background: #FFF;
    width: 100%;
}

#sidebar {
    background: #E64A19;
    color:#FFF;
    float: left;
    width: 19%;
    margin-top: 1%;
    clear: left;
    height: 100%;
}
h4 {
    align="left";
    margin-left:20px;
}

h2 {
    align="left";
    /*margin-left:1%;*/
}
/*input {
    margin-top: 50px;
    margin-left: 20%;
    clear: left;
}
*/
#content {
    background: #DCDCDC;
    float: right;
    margin-top: 1%;
    /*margin-left: 3px;*/
    width: 80%;
    height: inherit;
    overflow: auto; /* свойство для прокрутки по горизонтали. Автоматом, если больше блока */
    border: 1px solid #C1C1C1;/* размер и цвет границы блока */
}

#clear {
    clear: both;
}

