<html>
<head>
    <link rel="stylesheet" href="css\menu.css" />
</head>
<body>

<nav>
    <ul class="clearfix">
        <li><a href="\">Main</a></li>
        <li><a href="\search">Search</a></li>
        <li><a href="\loading">Loading</a></li>
        <li><a href="#">SE2900</a>
            <ul>
                <li><a href="\gag">Adding</a> </li>
                <li><a href="\SE2900">Listing</a>
                    <ul>
                        <li><a href="\gag">1c</a></li>
                        <li><a href="\gag">VRF</a></li>
                        <li><a href="\gag">Irt</a></li>
                        <li><a href="\gag">Iofc</a></li>
                        <li><a href="\gag">Iaddr</a></li>
                        <li><a href="\gag">Isiptg</a></li>
                        <li><a href="\gag">Cacplset</a></li>
                        <li><a href="\gag">Caccllplc</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="\h2">Database</a></li>
        <li><a href="#">About</a></li>
    </ul>
</nav>

<div class="main">
<h2>
    {{some}}
</h2>


<!--    <form action="upload" method="post" enctype="multipart/form-data">-->
<!--        <input type="file" name="file" />-->
<!--        <input type="submit" />-->
<!--    </form>-->

</div>
<!--    <form action="\search" method="get">-->
<!--        <button type="submit">Search</button>-->
<!--        <b>     -    Search logs from DB</b>-->
<!--    </form>-->

</body>
</html>