<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Календарь</title>
</head>
<body>

<div>
    <form method="post" action="filter">
        <p> Введите аббревиатуру города: <input type="text" name="abrCity" placeholder="City"/>
            Выбирете дату:   <input type="date" name="dateStart">
                             <input type="date" name="dateEnd">
            Введите текст совпадения: <input type="text" name="sign" placeholder="Command"/>
        <input type="submit" value="Find"></p>
    </form>
</div>

<div>result of search:</div>
<div>

</div>
<div>
    {{# message}}
    <p>{{.}}</p>
    {{/ message}}
</div>




</body>
</html>